<launch>

  <node name="publisher" pkg="compressed-realsense-rgbd-videos-transport" type="publisher" />

  <node name="receiver" pkg="compressed-realsense-rgbd-videos-transport" type="receiver" launch-prefix="gnome-terminal -e" />

  <node name="dynparam" pkg="dynamic_reconfigure" type="dynparam" args="set D435/depth/compressed format 'png'"/>

</launch>