<launch>

  <node name="publisher" pkg="compressed_realsense_rgbd_videos_transport" type="publisher" />

  <node name="receiver" pkg="compressed_realsense_rgbd_videos_transport" type="receiver" args="_image_transport:=compressed" />

  <node name="dynamic_parameter" pkg="dynamic_reconfigure" type="dynparam" args="set D435/depth/compressed format 'png'" />

</launch>